html, body {
    height: 100%;
}

body {
    background-color: darkgrey;
}

body > .container {
    background-color: white;
    box-shadow: 0 0 1em dimgrey;
    min-height: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
}

h3 {
    clear: both;
}

.fancybox {
    float: left;
    min-height: 170px;
    min-width: 170px;
}

.navbar {
    background: none;
    border: none;
    box-shadow: none;
}

.navbar > .container {
    box-shadow: 0 2px 0 rgba(255, 255, 255, 0.15) inset, 0 2px 5px rgba(0, 0, 0, 0.075);
}

.navbar-fixed-bottom {
    text-align: right;
    margin-bottom: -10px;
}

.navbar-fixed-bottom > .container {
    padding-top: 10px;
}

.thumbnail img {
    margin: auto;
}