<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>winniehell &mdash; {{ page.title }}</title>

	<link rel="stylesheet" href="/css/jquery.fancybox.css?v=2.1.5"/>

	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>

	<link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container bg-info">
		<ul class="nav navbar-nav">
{% assign num_pages = site.pages | size %}
{% for i in (1..num_pages) %}{% for p in site.pages %}{% if p.index == i %}
			<li {% if p.url == page.url %}class="active"{% endif %}>
			<a href="{{ p.url }}">{{ p.title }}</a>
			</li>
{% endif %}{% endfor %}{% endfor %}
		</ul>
	</div>
</div>

<div class="container">
	<div class="page-header">
		<h1>{{ page.title }}</h1>
	</div>
	{{ content }}
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
	<div class="container bg-info">
		<p class="text-muted">
			hosted on <a
				href="https://github.com/winniehell/winniehell.github.io/">GitHub</a>
		</p>
	</div>
</div>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/jquery.fancybox.pack.js?v=2.1.5"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
	$('body > .container').children().hide().fadeIn();
	$(document).ready(function () {
		$(".fancybox").fancybox();
	});
</script>
</body>
</html>
